! ------------------------------------------------------------------------------
! theme colors
! ------------------------------------------------------------------------------
!------------------------------------------------------------------------------

! ------------------------------------------------------------------------------
!  Colors
! ------------------------------------------------------------------------------

! special
#define colorFG #ffffff
#define colorBG #1b1d1e

! black
#define color00 #465457
#define color08 #1b1d1e

! red
#define color01 #d7005f
#define color09 #d7005f

! green
#define color02 #87ff00
#define color0A #87ff00

! yellow
#define color03 #ff8700
#define color0B #ff8700

! blue
#define color04 #acac85
#define color0C #acac85

! magenta
#define color05 #af5fff
#define color0D #af5fff

! cyan
#define color06 #5fd7ff
#define color0E #5fd7ff

! white
#define color07 #f8f8f8
#define color0F #ffffff


! ------------------------------------------------------------------------------
!  URxvt
! ------------------------------------------------------------------------------

*foreground: #DDCCBB

! Brown BG
!*background: #30251D

! Grey BG
*background: #151515


!black
*color0:     #393939
*color8:     #AF875F
!red
*color1:     #BF1E2D
*color9:     #E7212A
!green
*color2:     #9DBA3A
*color10:    #A9C938
!yellow
*color3:     #F5B915
*color11:    #F7D325
!blue
*color4:     #1CA1DB
*color12:    #00AFDA
!magenta
*color5:     #652F90
*color13:    #894E9F
!cyan
*color6:     #EA7D24
*color14:    #F79321
!white
*color7:     #E7E8E9
*color15:    #F3F3F4


! ------------------------------------------------------------------------------
! xterm
! ------------------------------------------------------------------------------
xterm*font: Ubuntu Mono
xterm*faceName: Ubuntu Mono:size=11:antialias=false
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-256color
xterm*eightBitInput: false

! ------------------------------------------------------------------------------
! URxvt
! -----------------------------------------------------------------------------
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 30
URxvt*externalBorder: 10
URxvt*letterSpace: 2
URxvt.lineSpace: 2
URxvt.font: xft:bitbuntufull:size=8
!URxvt.font: xft:haxor:size=10
URxvt.boldFont:
URxvt.italicFont :xft:bitbuntufull:italic:size=8
! URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
! URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x30
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
! links
*.perl-ext-common: default,matcher,selection-to-clipboard
*.url-launcher: /usr/bin/firefox
*.matcher.button: 3
*.matcher.rend.0: fg5

 *cursorBlink: 1

! ------------------------------------------------------------------------------
! UXTerm
! ------------------------------------------------------------------------------
UXTerm*termName: xterm-256color
UXTerm*cursorColor: white
UXTerm*VT100.geometry: 90x30
UXTerm*font: Ubuntu Mono
UXTerm*faceSize: 12
UXTerm*dynamicColors: true
UXTerm*utf8: 2
UXTerm*eightBitInput: true
UXTerm*saveLines: 10000
UXTerm*scrollKey: true
UXTerm*scrollTtyOutput: false
UXTerm*scrollBar: false
UXTerm*rightScrollBar: false
UXTerm*jumpScroll: true
UXTerm*multiScroll: true
UXTerm*toolBar: false

! ------------------------------------------------------------------------------
! rofi
! ------------------------------------------------------------------------------
rofi.color-enabled: true

rofi.color-window:    colorBG , colorBG , colorBG , colorBG , colorFG
rofi.color-normal:    colorBG , colorFG , colorBG , color00 , color07
rofi.color-active:    colorFG , color07 , colorBG , color07 , colorBG
rofi.color-urgent:    colorBG , colorFG , colorBG , colorBG , colorFG

rofi.fake-transparency : true
rofi.font              : scientifica 9
rofi.columns           : 1
rofi.separator-style   : none
rofi.hide-scrollbar    : true
rofi.location          : 1
rofi.yoffset           : 35
rofi.xoffset           : 32
rofi.padding           : 32
rofi.fullscreen        : false
rofi.width             : 350
rofi.lines             : 6

Xft.dpi       : 96
Xft.antialias : true
Xft.rgba      : rgb
Xft.hinting   : true
Xft.hintstyle : hintslight
Xft.autohint  : false
Xft.lcdfilter : lcddefault
